* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body {
    font-size: 14px;
}

.request{
    font-size: 48px;
}

@media only print {
    body {
        font-size: 14px;
    }
    h1 {
        font-size: 24px;
    }
}